.Panel {
  background-color: #fff;
  color: #000;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 9px 33px -18px rgba(66, 68, 90, 1);
  -moz-box-shadow: 10px 9px 33px -18px rgba(66, 68, 90, 1);
  box-shadow: 10px 9px 33px -18px rgba(66, 68, 90, 1);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
  margin: auto auto;
  display: block;
}

.Panel p {
  font-family: "Arial";
  text-align: center;
}
.imageContainer {    display:flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
}
.fileName {
  position: relative;
  bottom: 0px;
  margin: 5px;
}
