.Panel {
  background-color: #fff;
  color: #000;
  height: 200px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 23px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 23px -9px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 23px -9px rgba(66, 68, 90, 1);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
  margin: auto auto;
  display: block;

}

.Panel p {
  font-family: "Arial";
  text-align: center;
}
.imageContainer {    
  display:flex;
  height: 90%;
}
.fileName {
  position: relative;
  bottom: 3px;
  margin-bottom: 5px;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}