
.App {
  display:block;
  background-color: #f0f0f0;
  min-height: 100vh;
  padding: 20px;
  color:rgb(80, 80, 80);
  padding-top: 60px;
}

.dndPanel {
  height: 200px;
  width: 94vw;
  border-style: dotted;
  margin-left: 2vw;
  margin-right: 2vw;
}
