.ControlPanel {
    position: fixed;
    height: 50px;
    width: 100vw;
    top:0px;
    left: 0px;
    background-color: white;
    z-index: 910;
    float: left;
    overflow: clip;
}

.ControlPanel .path {

}

.ControlPanel .pathPart{ 
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.ControlPanel .logo{ 
    padding-top: 5px;
    padding-left: 15px;
    float: left;
}